.venv/
__pycache__/
.pytest_cache/
.idea/
*.pyc
*.log
secrets.py
htmlcov/
.coverage

# Папки внутри Oleg
Oleg/__pycache__/
Oleg/models/__pycache__/
tests/__pycache__/
Oleg/utils/__pycache__/
Oleg/.pytest_cache/
tests/THOUGHTS.py
Oleg/secrets.py
Oleg/commands/notes.json